<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DrComLoginViaHttp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
      <section name="log4net" type="System.Configuration.IgnoreSectionHandler"/>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <DrComLoginViaHttp.Properties.Settings>
            <setting name="USERNAME" serializeAs="String">
                <value>2009021220</value>
            </setting>
            <setting name="PASSWORD" serializeAs="String">
                <value>qwertyui</value>
            </setting>
        </DrComLoginViaHttp.Properties.Settings>
    </userSettings>

  <log4net>
    <!--定义输出到控制台命令行中-->
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>
    <!--定义输出到windows事件中-->
    <appender name="EventLogAppender" type="log4net.Appender.EventLogAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>
    <!--定义输出到文件中-->
    <appender name="rrAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="C:/Autologiner/logs/" />
      <!--是否追加到文件-->
      <param name="AppendToFile" value="true" />
      <param name="MaxSizeRollBackups" value="10" />
      <param name="StaticLogFileName" value="false" />
      <!--日志文件格式-->
      <param name="DatePattern" value="yyyyMMdd.log" />
      <!--按照文件的大小进行变换日志文件-->
      <!--<param name="RollingStyle" value="Size" />-->
      <!--我这里按照日期-->
      <param name="RollingStyle" value="Date" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c [%x] - %m%n%n" />
      </layout>

    </appender>
    <!--定义日志的输出媒介，下面定义日志以四种方式输出。也可以下面的按照一种类型或其他类型输出。-->
    <root>
      <level value="Debug" />
      <appender-ref ref="rrAppender" />
    </root>
  </log4net>

</configuration>